<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>推荐</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>全部</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>play</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>29</integer>
			<key>name</key>
			<string>颜值控</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>love</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>name</key>
			<string>全民星秀</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>beauty</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>name</key>
			<string>全民户外</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>huwai</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>英雄联盟</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>lol</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>name</key>
			<string>炉石传说</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>heartstone</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>name</key>
			<string>守望先锋</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>overwatch</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>30</integer>
			<key>name</key>
			<string>QQ飞车</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>qqfeiche</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>name</key>
			<string>王者荣耀</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>wangzhe</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>name</key>
			<string>手游专区</string>
			<key>is_default</key>
			<true/>
			<key>slug</key>
			<string>mobilegame</string>
			<key>type</key>
			<integer>2</integer>
			<key>screen</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
